@import url(https://fonts.googleapis.com/css?family=Raleway:300);

h1, h2, h3, p, label, input, textarea, select, .error, #footer a, a {
	font-family: "Raleway";
	font-weight: 300;
}

h1, h2, h3, p, label {
		color: white;
}

h1, h2 {
	text-align: center;
}

h1 {
	color: red;
	line-height: 0.25em;
}

h2 {
	line-height: 0em;
}

h3 {
	font-weight: normal;
	font-style: italic;
	color: #FFBC0D;
	text-align: left;
}

textarea, input, select {
	margin-bottom: 10px;
	font-size: 16px;
}

input, select {
	width: 50%;
	min-width: 150px;
}

input#email, input#password {
	float: center;
}

.error {
	line-height: 0em;
	font-size: 14px;
	color: #FF0000;
}

#footer {
	text-align: center;
	position: relative;
}

textarea {
	width: 100%;
	min-width: 300px;
	height: 10em;
	line-height: 1em;
}

p { 
	font-size: 20px;
	line-height: 3.5em;
}

body {
	background-color: #333333;
}

a.no-line-link {
	text-decoration: none;
  color:#FFBC0D;
}

a:visited{
  color:#FFBC0D;
}

#login {
	font-size: 16px;
}

.block {
	text-align: center;
	min-height: 4em;
	max-height: 6em;
	height: 10%;
	border-radius: 3px;
	border: 0;
}

.submit {
	height: 3em;
	border-radius: 3px;
	border: 0;
	width: 15%;
	min-width: 50px;
}

.central-column {
	max-width: 500px;
	min-width: 300px;
	width: 100%;	
	margin: 0 auto;
	float: center;
}

li {
	display: inline;
	padding: 0px 30px;
}

.left-column {
	float: left;
}

.mast {
	margin: 3em auto;
}

p.body-text {
	font-size: 16px;
	line-height: 1.2em;
	text-align: left;
}

.respond {
	width: 33%;
	min-width: 150px;
	height: 3em;
	min-height: 1em;
	margin: 10 auto;
}

.respond p {
	line-height: 2em;
}
/*
 * Colors for buttons
 */

.red {
	background-color: #FF0000;
}

.yellow {
	background-color: #E8A30C;
}

.green {
	background-color: #0DFF87;
}

.blue {
	background-color: #1DFFD9;
}

.rust {
	background-color: #E8620C;
}

.purple {
	background-color: #BE0CE8;
}

.gray {
	background-color: #505050;
}
